[Unit]
Description="Restart Scalelite Recordings Container"
ConditionPathIsReadWrite={{ bbb_scalelite_recordings_path }}
After=network.target
{% if bbb_scalelite_recording_systemd_mount %}After={{ bbb_scalelite_recording_systemd_mount }}
BindsTo={{ bbb_scalelite_recording_systemd_mount }}{% endif %}

[Service]
Type=oneshot
ExecStart=/usr/bin/docker restart scalelite-recordings
Restart=on-failure
RestartSec=60s
RestartSteps=4
RestartMaxDelaySec=360s

[Install]
WantedBy=multi-user.target
